

params {
    bamdir = "s3://scidev-playground-permanent/uploads/20250606-ticket-6124-fusion-star/workdir"
    references = "s3://scidev-playground-permanent/uploads/20250606-ticket-6124-fusion-star/references"
}

process {
    withName: Align {
        cpus = 16
        memory = '64 GB'
    }
}

profiles {
    aws {
        aws {
            region = 'eu-west-2'
            batch {
                volumes = '/scratch/fusion:/tmp'
                jobRole = 'arn:aws:iam::307946633589:role/robsyme-terraform-00-NextflowComputeJobRole'
            }
        }
        workDir = 's3://scidev-playground-eu-west-2/scratch/5jkE9cCv6yTsKB'
        wave.enabled = true
        fusion.enabled = true
        process {
            executor = 'awsbatch'
            queue = 'robsyme-terraform-00-example-queue-ondemand'
            scratch = false
        }
    }
}
